---
import Layout from "../../layouts/Layout.astro";
import PhotoNavbar from "../../components/PhotographyComponents/PhotoNavbar";
import PhotoHome from "../../components/PhotographyComponents/PhotoHome";
import PhotographyFooter from "../../components/PhotographyComponents/PhotographyFooter";
export const prerender = true;

let darkMode = localStorage.getItem("color-theme") === "dark" ? true : false;
---

<div
  class="bg-white text-black dark:bg-darkish-cyan dark:text-white"
  id="background"
>
  <Layout title="Caesar Chin Photography">
    <div class="container mx-auto">
      <div class="mx-12 flex min-h-screen flex-col items-center pt-2">
        <div id="home" class="w-full">
          <PhotoNavbar darkMode={darkMode} title="" client:load />
          <PhotoHome client:load />
          <PhotographyFooter client:load title="" />
        </div>
      </div>
    </div>
  </Layout>
</div>

<style>
  #projects,
  #contact,
  #home,
  #footer {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
