---
import Layout from "../layouts/Layout.astro";
---

<div class="bg-white dark:bg-darkish-cyan text-black dark:text-white">
  <Layout title="Caesar Chin Photography">
    <h1>Under Construction</h1>
  </Layout>
</div>
